<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.prgms" level="debug">
        <appender-ref ref="STDOUT" />
        <!-- 새로운 logger를 만들어서 appender-ref stdout 추가하려면
        additivity=false 옵션을 주어서 중복안되도록 하거나 아예 다른 appender를 할당하거나,
        아님 아예 appender-ref를 안하거나 해야 함-->
    </logger>

    <root level="INFO"> <!-- 전체 log level을 설정하는 부분-->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>