<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%-5level) [%15.15thread] %clr(%-50.50logger{36} :%line){cyan} : %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <logger name="com.prgms" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <!-- 새로운 logger를 만들어서 appender-ref stdout 추가하려면
        additivity=false 옵션을 주어서 중복안되도록 하거나 아예 다른 appender를 할당하거나,
        아님 아예 appender-ref를 안하거나 해야 함-->
    </logger>

    <logger name="jdbc.sqltiming" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>

    <root level="INFO"> <!-- 전체 log level을 설정하는 부분-->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>